.game-field {
  background-color: gray;
  width: 210px;
  padding: 20px;
}

.game-field__row {
  display: flex;
}

.game-field__row:not(:first-child) {
  margin-top: -2px;
}

.game-field__col {
  width: 50px;
  height: 50px;
  border: 2px solid black;
}

.game-field__col:not(:first-child) {
  margin-left: -2px;
}

.game-field__col__color-none {
  background-color: #ffffff;
}

.game-field__col__color-1 {
  background-color: #0063ff;
}

.game-field__col__color-2 {
  background-color: #00fffa;
}

.game-field__col__color-3 {
  background-color: #3bff00;
}

.game-field__col__color-4 {
  background-color: #f2ff00;
}

.game-field__col__color-5 {
  background-color: #ff5900;
}

.game-field__col__color-6 {
  background-color: #ff0000;
}

.game-field__col__color-7 {
  background-color: #5d00ff;
}
.game-field__col__color-8 {
  background-color: #ff00f2;
}


